body {
    font-family: "Times New Roman";
    font-size:20px;
}
img:hover {
    width: 200px;
    height: 200px;
}
.error {
    text-align: center;
}
a:link {
    color: blue;
}
a:visited{
    color: purple;
}